  /* Structure */
  table {
    width: 100%;
  }

  .mat-mdc-form-field {
    font-size: 4px;
  }


  .mat-icon-button-spacing {
    margin-right: 4px;
    /* Regola la dimensione dello spazio tra i pulsanti */
  }